<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="today">
      <ion-icon name="calendar-outline"></ion-icon>
      <ion-label>Today</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="calendar">
      <ion-icon name="book-outline"></ion-icon>
      <ion-label>Calendar</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="favorites">
      <ion-icon name="heart-outline"></ion-icon>
      <ion-label>Favourites</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="more">
      <ion-icon name="ellipsis-horizontal"></ion-icon>
      <ion-label>More</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
